state-machines/example-workflow.asl.json
{
  "Comment": "State machine orchestration pattern",
  "StartAt": "Requester",
  "States": {
    "Requester": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:726360710446:function:requester",
      "Next": "Validator"
    },
    "Validator": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:726360710446:function:validator",
      "Next": "Manager",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.errorInfo",
          "Next": "Notifier"
        }
      ]
    },
    "Manager": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:726360710446:function:manager",
      "Next": "ManagerChoice"
    },
    "ManagerChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.decision",
          "StringEquals": "accept",
          "Next": "Provisioner"
        }
      ],
      "Default": "Notifier"
    },
    "Provisioner": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:726360710446:function:provisioner",
      "Next": "AccessGranter",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 2,
          "BackoffRate": 1.5,
          "MaxAttempts": 5
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath":"$.errorInfo",
          "Next": "Notifier"
        }
      ]
    },
    "AccessGranter": {
      "Type": "Pass",
      "Next": "Notifier"
    },
    "Notifier": {
      "Type": "Pass",
      "End": true
    }
  }
}
