templates/query-third-party-api/definition.asl.json
{
  "Comment": "Retry template",
  "StartAt": "Foo",
  "States": {
    "Foo": {
      "Type": "Pass",
      "Next": "QueryAPI"
    },
    "QueryAPI": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:WORKFLOW_NAME_queryAPI",
      "Next": "Bar",
      "TimeoutSeconds": 2,
      "Retry": [
        {
          "ErrorEquals": ["States.Timeout"],
          "IntervalSeconds": 10,
          "BackoffRate": 1.0,
          "MaxAttempts": 1
        },
        {
          "ErrorEquals": ["States.TaskFailed"],
          "IntervalSeconds": 2,
          "BackoffRate": 1.5,
          "MaxAttempts": 3
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath":"$.errorInfo",
          "Next": "Bar"
        }
      ]
    },
    "Bar": {
      "Type": "Pass",
      "End": true
    }
  }
}
