templates/video-transcoding/state-machines/transcoding.asl.json
{
  "StartAt": "Splitter",
  "States": {
    "Splitter": {
      "Next": "Transcode-All",
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:WORKFLOW_NAME_splitter"
    },
    "Transcode-All": {
      "Type": "Map",
      "ItemsPath": "$.segments",
      "Next": "Joiner",
      "Parameters": {
        "segment.$": "$$.Map.Item.Value",
        "intermediateBucket.$": "$.intermediateBucket",
        "sourceBucket.$": "$.sourceBucket"
      },
      "Iterator": {
        "StartAt": "Transcode",
        "States": {
          "Transcode": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:WORKFLOW_NAME_transcoder",
            "End": true
          }
        }
      }
    },
    "Joiner": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:REGION:ACCOUNT_ID:function:WORKFLOW_NAME_joiner",
      "End": true
    }
  }
}
